@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: unset;
  padding: unset;
  outline: unset;
  border: unset;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  font-variant-numeric: lining-nums;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

input,
textarea,
select,
button {
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder, button::-webkit-input-placeholder {
  color: inherit;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder, button::-moz-placeholder {
  color: inherit;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder, button:-ms-input-placeholder {
  color: inherit;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder, button::-ms-input-placeholder {
  color: inherit;
}
input::placeholder,
textarea::placeholder,
select::placeholder,
button::placeholder {
  color: inherit;
}
input option,
textarea option,
select option,
button option {
  background-color: inherit;
}

input, textarea, label {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  resize: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, label::-webkit-input-placeholder {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}
input::-moz-placeholder, textarea::-moz-placeholder, label::-moz-placeholder {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, label:-ms-input-placeholder {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, label::-ms-input-placeholder {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}
input::placeholder, textarea::placeholder, label::placeholder {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}

a {
  cursor: pointer;
  color: inherit;
}

img {
  vertical-align: middle;
  font-style: italic;
}

:root {
  --section-side-gap: 50px;
  --section-between-gap: 120px;
  --header-height: 84px;
}

@media (max-width: 960px) {
  :root {
    --section-side-gap: 30px;
    --section-between-gap: 100px;
    --header-height: 64px;
  }
}
@media (max-width: 640px) {
  :root {
    --section-side-gap: 20px;
    --section-between-gap: 80px;
  }
}
@font-face {
  font-display: swap;
  font-family: "Gilroy";
  font-weight: 400;
  src: url(../../fonts/Gilroy-Regular.woff2);
}
@font-face {
  font-display: swap;
  font-family: "Gilroy";
  font-weight: 500;
  src: url(../../fonts/Gilroy-Medium.woff2);
}
@font-face {
  font-display: swap;
  font-family: "Gilroy";
  font-weight: 700;
  src: url(../../fonts/Gilroy-Bold.woff2);
}
h1 span.orange, h2 span.orange, h3 span.orange, h4 span.orange {
  padding-right: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#FF8A01), to(#FF4D01));
  background: linear-gradient(90deg, #FF8A01 0%, #FF4D01 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 72px;
  font-weight: 400;
  line-height: 1em;
}
@media (max-width: 960px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  font-size: 65px;
  font-weight: 400;
  line-height: 1em;
}
@media (max-width: 960px) {
  h2 {
    font-size: 50px;
  }
}
@media (max-width: 640px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.15em;
}
@media (max-width: 640px) {
  h3 {
    font-size: 24px;
  }
}

[data-subtitle]:before {
  content: attr(data-subtitle);
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 20px;
  opacity: 0.4;
}

input {
  font-size: 28px;
  font-weight: 400;
  line-height: 1em;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid black;
}
@media (max-width: 960px) {
  input {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 640px) {
  input {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

select {
  cursor: pointer;
  font-size: 28px;
  font-weight: 400;
  line-height: 1em;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  border-bottom: 2px solid black;
  width: 100%;
  white-space: pre-wrap;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.767517 0.0625L8.10916 7.9375L15.4508 0.0625H0.767517Z' fill='black'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 39px;
}
@media (max-width: 960px) {
  select {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-position-y: 29px;
  }
}
@media (max-width: 640px) {
  select {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-position-y: 24px;
  }
}
select:invalid {
  color: rgba(0, 0, 0, 0.2);
}
select:valid {
  color: black;
}
select option {
  color: black;
  padding-left: 25px;
}

button, a.button {
  cursor: pointer;
  padding: 15px 45px;
  border-radius: 999px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 640px) {
  button, a.button {
    padding: 10px 20px;
  }
}
button.white, a.button.white {
  background-color: white;
  color: black;
}
button.white:hover, a.button.white:hover {
  background-color: #cccccc;
}
button.black, a.button.black {
  background-color: black;
  color: white;
}
button.orange, a.button.orange {
  background: -webkit-gradient(linear, left top, right top, from(#FF8A01), to(#FF4D01));
  background: linear-gradient(90deg, #FF8A01 0%, #FF4D01 100%);
  color: white;
}
button.orange svg path, a.button.orange svg path {
  stroke: white;
  fill: white;
}
button.hollow.white, a.button.hollow.white {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
button.hollow.white:hover, a.button.hollow.white:hover {
  border-color: rgb(255, 255, 255);
}
button.hollow.black, a.button.hollow.black {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: black;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
button.hollow.black:hover, a.button.hollow.black:hover {
  border-color: rgb(0, 0, 0);
}

.animate {
  opacity: 0;
  -webkit-filter: blur(px);
          filter: blur(px);
  -webkit-transform: translateY(25%);
      -ms-transform: translateY(25%);
          transform: translateY(25%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.animate.start {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

a.download {
  width: 37px;
  height: 37px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-radius: 999px;
  border: 1px solid black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
a.download svg path {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
a.download:hover {
  background-color: black;
}
a.download:hover svg path {
  fill: white;
}

html, body {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-appearance: none;
  scroll-behavior: smooth;
  overflow-x: clip;
  background-color: #f5f5f5;
}
@media (max-width: 640px) {
  html, body {
    font-size: 14px;
  }
}

section {
  position: relative;
}
section[id] {
  scroll-margin-top: 184px;
}

div.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 var(--section-side-gap);
}

header {
  color: white;
  background-color: rgba(39, 39, 39, 0.9);
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  z-index: 999;
  top: 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
header div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
}
header a.logotype img {
  width: 148px;
}
header div.additional {
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 34px;
}
@media (max-width: 640px) {
  header div.additional {
    display: none;
  }
}
header div.additional a.visual {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content auto;
  grid-template-columns: max-content auto;
  grid-gap: 6px;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
header div.additional a.visual svg path {
  fill: white;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}
header div.additional a.visual:hover {
  opacity: 1;
}
header div.additional a.visual:hover svg path {
  fill: #FF8A01;
}
header div.additional div.languages {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 14px;
}
header div.additional div.languages a {
  opacity: 0.6;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
header div.additional div.languages a:hover {
  opacity: 1;
}
header div.additional div.languages a.current {
  opacity: 1;
  pointer-events: none;
}
header menu {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 40px;
}
@media (max-width: 1280px) {
  header menu {
    display: none;
  }
}
header menu a {
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
header menu a:hover {
  opacity: 1;
}
header a.button {
  padding: 10px 20px;
}
@media (max-width: 960px) {
  header a.button {
    display: none;
  }
}
header img.menu {
  display: none;
  cursor: pointer;
}
@media (max-width: 1280px) {
  header img.menu {
    display: block;
  }
}
header.transparent {
  background-color: transparent;
}
header.index menu a:first-child {
  display: none;
}

footer {
  background-color: black;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 14px;
  line-height: 1.2em;
}
@media (max-width: 640px) {
  footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
footer div.container {
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  grid-template-columns: -webkit-max-content 4fr 3fr 3fr;
  grid-template-columns: max-content 4fr 3fr 3fr;
  grid-template-rows: -webkit-max-content -webkit-max-content 1fr;
  grid-template-rows: max-content max-content 1fr;
  grid-template-areas: "Logotype Requisite Documents Contacts" "Logotype Requisite Tarrifs Policies" "Logotype Requisite Forms Copyright";
  grid-gap: 48px 74px;
}
@media (max-width: 960px) {
  footer div.container {
    grid-template-columns: -webkit-max-content 1fr 1fr;
    grid-template-columns: max-content 1fr 1fr;
    grid-template-areas: "Logotype Contacts Documents" "Logotype Tarrifs Documents" "Logotype Forms Policies" "Logotype Requisite Requisite" "Logotpe Copyright Copyright";
    grid-gap: 48px;
  }
}
@media (max-width: 640px) {
  footer div.container {
    grid-template-columns: 1fr;
    grid-template-areas: "Logotype" "Contacts" "Documents" "Tarrifs" "Forms" "Policies" "Requisite" "Copyright";
    grid-gap: 36px;
  }
}
footer a.logotype {
  grid-area: Logotype;
  display: block;
  width: 148px;
}
footer a.logotype img {
  width: 100%;
}
footer a:hover {
  opacity: 0.7;
}
footer h4 {
  opacity: 0.4;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  padding-bottom: 4px;
}
footer div.requisite {
  grid-area: Requisite;
  display: grid;
  grid-gap: 16px;
}
footer div.requisite p {
  opacity: 0.6;
}
footer menu.documents, footer menu.tarrifs, footer menu.forms, footer div.policies {
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  grid-gap: 16px;
}
@media (max-width: 960px) {
  footer menu.documents, footer menu.tarrifs, footer menu.forms, footer div.policies {
    grid-gap: 12px;
  }
}
@media (max-width: 640px) {
  footer menu.documents, footer menu.tarrifs, footer menu.forms, footer div.policies {
    grid-gap: 8px;
  }
}
footer menu.documents {
  grid-area: Documents;
}
footer menu.tarrifs {
  grid-area: Tarrifs;
}
footer menu.forms {
  grid-area: Forms;
}
footer div.policies {
  grid-area: Policies;
}
footer div.contacts {
  grid-area: Contacts;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  grid-gap: 16px;
}
footer div.contacts div {
  display: grid;
  grid-gap: 2px;
}
footer div.contacts span {
  font-size: 10px;
  opacity: 0.4;
}
footer div.contacts strong {
  font-size: 16px;
  font-weight: 400;
}
footer div.contacts a {
  font-size: 16px;
  font-weight: 700;
}
footer span.copyright {
  grid-area: Copyright;
  align-self: end;
  font-size: 12px;
  opacity: 0.6;
}

html:has(dialog[open]) {
  overflow-y: hidden;
  margin-right: var(--scrollbar-width);
}

dialog {
  max-height: unset;
  max-width: unset;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 20px;
  padding-right: 40px;
}
@media (max-width: 640px) {
  dialog {
    padding: 10px;
  }
}
dialog div.container {
  position: relative;
  border-radius: 15px;
  background-color: white;
  max-width: 960px;
  padding: 50px;
}
@media (max-width: 640px) {
  dialog div.container {
    padding: 30px;
  }
}
dialog div.container div.cross {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  -webkit-transform: translate(100%, -100%);
      -ms-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  z-index: 1;
}
@media (max-width: 640px) {
  dialog div.container div.cross {
    top: 16px;
    right: 16px;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
  }
}
dialog div.container div.cross:hover {
  opacity: 0.6;
}
dialog div.container div.cross svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}
@media (max-width: 640px) {
  dialog div.container div.cross svg path {
    stroke: black;
  }
}
dialog::-ms-backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
}
dialog::backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
dialog::-webkit-scrollbar {
  width: 0;
  height: 0;
}

dialog[data-modal-name=client] div.container {
  display: grid;
  grid-gap: 64px;
}
@media (max-width: 640px) {
  dialog[data-modal-name=client] div.container {
    grid-gap: 32px;
  }
}
dialog[data-modal-name=client] h3 {
  font-size: 35px;
  line-height: 1.2em;
}
@media (max-width: 640px) {
  dialog[data-modal-name=client] h3 {
    font-size: 24px;
  }
}
dialog[data-modal-name=client] form {
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  grid-template-columns: repeat(3, 1fr) -webkit-max-content;
  grid-template-columns: repeat(3, 1fr) max-content;
  grid-gap: 16px;
}
@media (max-width: 960px) {
  dialog[data-modal-name=client] form {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  dialog[data-modal-name=client] form {
    grid-template-columns: 1fr;
  }
}
dialog[data-modal-name=client] form input {
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}
dialog[data-modal-name=client] form button {
  justify-self: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 640px) {
  dialog[data-modal-name=client] form button {
    width: 100%;
    margin-top: 16px;
  }
}
dialog[data-modal-name=client] form span.policy {
  margin-top: 16px;
  grid-column: 4 span;
  font-size: 12px;
  line-height: 1.2em;
  opacity: 0.4;
}
@media (max-width: 960px) {
  dialog[data-modal-name=client] form span.policy {
    grid-column: 2 span;
  }
}
@media (max-width: 640px) {
  dialog[data-modal-name=client] form span.policy {
    grid-column: 1 span;
  }
}

dialog[data-modal-name=consulting] div.container {
  display: grid;
  grid-gap: 64px;
}
@media (max-width: 640px) {
  dialog[data-modal-name=consulting] div.container {
    grid-gap: 32px;
  }
}
dialog[data-modal-name=consulting] div.text {
  display: grid;
  grid-gap: 20px;
}
dialog[data-modal-name=consulting] div.text h3 {
  font-size: 35px;
  line-height: 1.2em;
}
@media (max-width: 640px) {
  dialog[data-modal-name=consulting] div.text h3 {
    font-size: 24px;
  }
}
dialog[data-modal-name=consulting] div.text p {
  font-size: 20px;
}
@media (max-width: 640px) {
  dialog[data-modal-name=consulting] div.text p {
    font-size: 16px;
  }
}
dialog[data-modal-name=consulting] form {
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  grid-template-columns: repeat(2, 1fr) -webkit-max-content;
  grid-template-columns: repeat(2, 1fr) max-content;
  grid-gap: 16px;
}
@media (max-width: 960px) {
  dialog[data-modal-name=consulting] form {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  dialog[data-modal-name=consulting] form {
    grid-template-columns: 1fr;
  }
}
dialog[data-modal-name=consulting] form input {
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}
dialog[data-modal-name=consulting] form button {
  justify-self: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 960px) {
  dialog[data-modal-name=consulting] form button {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
}
@media (max-width: 640px) {
  dialog[data-modal-name=consulting] form button {
    width: 100%;
    margin-top: 16px;
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}
dialog[data-modal-name=consulting] form span.policy {
  margin-top: 16px;
  grid-column: 3 span;
  font-size: 12px;
  line-height: 1.2em;
  opacity: 0.4;
}
@media (max-width: 960px) {
  dialog[data-modal-name=consulting] form span.policy {
    grid-column: 1/2;
    margin-top: unset;
    align-self: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 640px) {
  dialog[data-modal-name=consulting] form span.policy {
    margin-top: 16px;
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}

dialog[data-modal-name=schedule] div.container {
  width: 100%;
}
dialog[data-modal-name=schedule] div.row {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-gap: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 24px;
  margin-bottom: 24px;
}
@media (max-width: 640px) {
  dialog[data-modal-name=schedule] div.row {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
}
dialog[data-modal-name=schedule] div.row:last-child {
  border: unset;
  padding-bottom: unset;
  margin-bottom: unset;
}
dialog[data-modal-name=schedule] h3 {
  font-size: 35px;
  margin-bottom: 64px;
  padding-right: 40px;
}
@media (max-width: 640px) {
  dialog[data-modal-name=schedule] h3 {
    font-size: 30px;
    margin-bottom: 32px;
  }
}
dialog[data-modal-name=schedule] div.table span {
  display: block;
  opacity: 0.6;
}
dialog[data-modal-name=schedule] div.table strong {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3em;
}
dialog[data-modal-name=schedule] div.table ul {
  display: grid;
  grid-gap: 16px;
}
@media (max-width: 640px) {
  dialog[data-modal-name=schedule] div.table ul {
    grid-gap: 8px;
  }
}

dialog[data-modal-name=menu] {
  color: white;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: unset;
}
dialog[data-modal-name=menu] div.container {
  height: 100%;
  background-color: #272727;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  display: grid;
  grid-template-rows: -webkit-max-content -webkit-max-content 1fr -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content 1fr max-content max-content;
  -ms-flex-line-pack: start;
      align-content: start;
  grid-gap: 16px;
  padding-top: 30px;
}
dialog[data-modal-name=menu] div.container div.cross {
  top: 16px;
  right: 16px;
  -webkit-transform: unset;
      -ms-transform: unset;
          transform: unset;
}
dialog[data-modal-name=menu] div.container div.cross svg path {
  stroke: white;
}
dialog[data-modal-name=menu] a.logotype img {
  width: 148px;
}
dialog[data-modal-name=menu] a.visual {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-self: start;
  grid-template-columns: -webkit-max-content auto;
  grid-template-columns: max-content auto;
  grid-gap: 6px;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
dialog[data-modal-name=menu] a.visual svg path {
  fill: white;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}
dialog[data-modal-name=menu] a.visual:hover {
  opacity: 1;
}
dialog[data-modal-name=menu] a.visual:hover svg path {
  fill: #FF8A01;
}
dialog[data-modal-name=menu] div.languages {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 14px;
}
dialog[data-modal-name=menu] div.languages a {
  opacity: 0.6;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
dialog[data-modal-name=menu] div.languages a:hover {
  opacity: 1;
}
dialog[data-modal-name=menu] div.languages a.current {
  opacity: 1;
  pointer-events: none;
}
dialog[data-modal-name=menu] menu {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 12px;
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media (max-width: 640px) {
  dialog[data-modal-name=menu] menu {
    font-size: 16px;
  }
}/*# sourceMappingURL=common.css.map */