@charset "UTF-8";
:root {
  --section-side-gap: 50px;
  --section-between-gap: 120px;
  --header-height: 84px;
}

@media (max-width: 960px) {
  :root {
    --section-side-gap: 30px;
    --section-between-gap: 100px;
    --header-height: 64px;
  }
}
@media (max-width: 640px) {
  :root {
    --section-side-gap: 20px;
    --section-between-gap: 80px;
  }
}
section.page {
  margin-top: calc(var(--section-between-gap) * 0.5);
  margin-bottom: calc(var(--section-between-gap) * 0.5);
  font-size: 18px;
  line-height: 1.3em;
}
@media (max-width: 960px) {
  section.page {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  section.page {
    font-size: 15px;
  }
}
section.page div.container {
  display: grid;
  grid-gap: 20px;
}
section.page h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
@media (max-width: 640px) {
  section.page h1 {
    font-size: 32px;
  }
}
section.page h2 {
  font-size: 32px;
  margin-top: 20px;
}
@media (max-width: 640px) {
  section.page h2 {
    font-size: 24px;
  }
}
section.page a {
  color: #5564E9;
}
section.page a:hover {
  color: #2d3479;
  text-decoration: underline;
  text-underline-offset: 4px;
}
section.page ul {
  display: grid;
  grid-gap: 8px;
}
section.page ul li {
  list-style: disc outside;
  padding-left: 0.5em;
  margin-left: 1em;
}
section.page ul li::marker {
  content: "•";
}
section.page div.documents {
  max-width: 960px;
  margin-top: 30px;
  margin-bottom: 30px;
}
section.page div.documents div.document {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-gap: 28px;
}
@media (max-width: 640px) {
  section.page div.documents div.document {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
section.page div.documents div.document::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#FF8A01), color-stop(98.44%, #FF4D01));
  background: linear-gradient(90deg, #FF8A01 0%, #FF4D01 98.44%);
}
section.page div.documents div.document:last-child::after {
  display: none;
}
section.page div.documents div.document p {
  max-width: 960px;
}
section.page table {
  margin-top: 30px;
  margin-bottom: 30px;
  border-collapse: collapse;
}
section.page table thead {
  background-color: #ECECEC;
}
section.page table, section.page table td, section.page table th {
  border: 1px solid #ddd6d4;
  padding: 15px;
}
section.page ol {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
  counter-reset: num;
  margin: 0 0 0 35px;
  padding: 15px 0 5px 0;
  font-size: 18px;
}
section.page ol li {
  position: relative;
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}
section.page ol li:before {
  content: counter(num) ".";
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -30px;
  width: 20px;
  text-align: right;
  opacity: 0.6;
}/*# sourceMappingURL=page.css.map */