section.about#about
    div.container

        div.sticky
            h2(data-subtitle="О банке").animate Waybank – #[span.orange это современный взгляд на банковскую сферу], направленный на персональный сервис для ваших целей

        div.text
            h2(data-subtitle="О банке").animate Банк, нацеленный #[br]на #[span.orange гибкий подход] к клиентам
            p.animate Команда профессионалов Waybank всегда готова прийти на помощь в решении вопросов частных и корпоративных клиентов

        div.advantages
            div.advantage
                img(src="images/", alt="")
                span Моментальная обратная связь и быстрое решение поставленных задач 24/7
                div.background
                    img(src="images/cards/11.webp", alt="")
            div.advantage
                img(src="images/", alt="")
                span Подберем тот самый продукт под любые ваши потребности
                div.background
                    img(src="images/cards/12.webp", alt="")
            div.advantage
                img(src="images/", alt="")
                span Индивидуальные условия сотрудничества
                div.background
                    img(src="images/cards/13.webp", alt="")
            div.advantage
                img(src="images/", alt="")
                span Персона­лизированное сопровождение личным менеджером с первого звонка
                div.background
                    img(src="images/cards/14.webp", alt="")
