section.contacts#contacts
    div.container

        div.text
            h2(data-subtitle="Остались вопросы?").animate Оставьте контакты
            p.animate Мы свяжемся с вами в ближайшее время и проконсультируем

        form
            input(type="text", placeholder="Как к вам обращаться?", required)
            input(type="email", placeholder="E-mail", required)
            input(type="phone", placeholder="+7 999 999 99 99", required, data-phone-pattern='')

            select(required)
                option(value="", selected, disabled, hidden, style="color:gray") Выберите услугу
                option(value="Открытие и ведение банковских счётов для Бизнеса") Открытие и ведение банковских счётов для Бизнеса
                option(value="Денежные переводы для Бизнеса") Денежные переводы для Бизнеса
                option(value="ВЭД") ВЭД
                option(value="Расчётно-кассовое обслуживание для бизнеса") Расчётно-кассовое обслуживание для бизнеса
                option(value="Выдача банковских гарантий") Выдача банковских гарантий
                option(value="Операции с драгоценными металлами") Операции с драгоценными металлами
                option(value="Открытие и ведение банковских счетов для частных лиц") Открытие и ведение банковских счетов для частных лиц
                option(value="Денежные переводы для частных лиц") Денежные переводы для частных лиц
                option(value="Кассовое обслуживание для частных лиц") Кассовое обслуживание для частных лиц
                option(value="Валютные операции для частных лиц") Валютные операции для частных лиц

            div.order
                span Нажимая кнопку “отправить заявку” вы соглашаетесь с политикой конфиденциальности и пользовательским соглашением
                button.black Отправить заявку