section.main
    div.container

        div.text
            h1.animate #[span.orange Waybank] — твой путь!
            p.animate Предоставляем широкий ряд услуг и продуктов для бизнеса и частных лиц в нашем универсальном банке, на который можно положиться
            div.buttons.animate
                button(data-modal-target="client").white Стать клиентом
                button(data-modal-target="consulting").hollow.white Обратный звонок
                
        div.courses
            h3 Курсы валют
            span на 02.11.2023
            table
                thead
                    tr
                        td
                        td Покупка
                        td Продажа
                tbody
                    tr
                        td USD
                        td 91.00
                        td 96.00
                    tr
                        td EUR
                        td 94.00
                        td 100.00
                
    div.background
        img(src="images/main.webp", alt="")