section.online
    div.container
        div.text
            h2(data-subtitle="Онлайн-банкинг") #[span.orange Waybank] – воспользуйтесь нашей системой #[span.orange онлайн-банкинга] – все под рукой
            div.buttons
                button(data-modal-target="client").white Стать клиентом
                a(href="https://ibank.rentabank.ru/ibank2/#/", target="blank").button.hollow.white
                    span Онлайн-банкинг
                    include ../../../images/button_arrow.svg
    div.background
        img(src="images/online.webp", alt="")