section.services#services
    div.container
        h2(data-subtitle="Актуальные предложения").animate Сервисы и продукты

        div.tabs
            div.tabs_captions
                div.tab_caption.opened 
                    span Для Бизнеса
                div.tab_caption 
                    span Для частных лиц

            div.tabs_contents
                div.tab_content.opened
                    a(href="bills.html").service
                        h3 Открытие и ведение банковских счетов
                        p В Waybank мы предоставляем открытие и ведение банковских счетов
                        button.hollow.black
                            span Подробнее
                            include ../../../images/button_arrow.svg
                        div.background
                            img(src="images/cards/1.webp", alt="")
                    a(href="service.html").service
                        h3 Денежные переводы для Бизнеса
                        p Переводите денежные средства в рублях и иностранной валюте с удобным онлайн сервисом Waybank
                        button.hollow.black
                            span Подробнее
                            include ../../../images/button_arrow.svg
                        div.background
                            img(src="images/cards/2.webp", alt="")
                    a(href="service.html").service
                        h3 ВЭД
                        p Waybank предоставляет целый ряд услуг, связанных с обслуживанием ВЭД
                        button.hollow.black
                            span Подробнее
                            include ../../../images/button_arrow.svg
                        div.background
                            img(src="images/cards/3.webp", alt="")
                    a(href="service.html").service
                        h3 Расчётно-кассовое обслуживание
                        p Waybank предлагает своим клиентам полный спектр услуг по Расчётно-кассовому обслуживанию
                        button.hollow.black
                            span Подробнее
                            include ../../../images/button_arrow.svg
                        div.background
                            img(src="images/cards/4.webp", alt="")
                    a(href="service.html").service
                        h3 Выдача банковских гарантий
                        p Снизьте риски и обеспечьте исполнение обязательств с банковскими гарантиями от Waybank
                        button.hollow.black
                            span Подробнее
                            include ../../../images/button_arrow.svg
                        div.background
                            img(src="images/cards/5.webp", alt="")
                    a(href="service.html").service
                        h3 Операции с драгоценными металлами
                        p Откройте для себя все преимущества Waybank. Операции с драгоценными металлами для корпоративных клиентов
                        button.hollow.black
                            span Подробнее
                            include ../../../images/button_arrow.svg
                        div.background
                            img(src="images/cards/6.webp", alt="")
                    a(href="https://drive.google.com/file/d/1A9gdTINBWjlS-JIGXz8OhY_GKO_wwmZC/view", target="blank").button.black.download
                        img(src="images/document.svg", alt="")
                        span Тарифы для бизнеса.pdf
                div.tab_content
                    a(href="service.html").service
                        h3 Открытие и ведение банковских счетов
                        p В Waybank мы предоставляем открытие, ведение банковских счетов
                        button.hollow.black
                            span Подробнее
                            include ../../../images/button_arrow.svg
                        div.background
                            img(src="images/cards/7.webp", alt="")
                    a(href="service.html").service
                        h3 Денежные переводы для частных лиц
                        p Переводите денежные средства в рублях, а также в иностранной валюте без открытия счета.
                        button.hollow.black
                            span Подробнее
                            include ../../../images/button_arrow.svg
                        div.background
                            img(src="images/cards/8.webp", alt="")
                    a(href="service.html").service
                        h3 Кассовое обслуживание
                        p Услуги по кассовому обслуживанию в валюте Российской Федерации и в иностранной валюте для Частных клиентов
                        button.hollow.black
                            span Подробнее
                            include ../../../images/button_arrow.svg
                        div.background
                            img(src="images/cards/9.webp", alt="")
                    a(href="service.html").service
                        h3 Валютные операции
                        p Проводите валютные операции для любых нужд с Waybank
                        button.hollow.black
                            span Подробнее
                            include ../../../images/button_arrow.svg
                        div.background
                            img(src="images/cards/10.webp", alt="")
                    a(href="https://drive.google.com/file/d/1ljHhB7f26RZ9Ox349OCq1yu9VsG9h5Hv/view", target="blank").button.black.download
                        img(src="images/document.svg", alt="")
                        span Тарифы для частных лиц.pdf