section.open
    div.container
        h2.animate Открытие счета
        p «Вэйбанк» АО открывает и ведет банковские счета в валюте РФ, долларах США, евро:
        ul
            li юридических лиц - резидентов и нерезидентов;
            li индивидуальных предпринимателей.
        p Открытие банковского счета осуществляется в короткие сроки с индивидуальным подходом к каждому клиенту.
        p При открытии счета работник Банка по желанию клиента может изготовить копии документов клиента, необходимых для открытия счета, заполнить документы, необходимые для открытия счета, а также оформить карточку с образцами подписей и оттиска печати. Комиссионное вознаграждение за такие услуги установлено Тарифами на расчетно-кассовое обслуживание
        strong Для открытия счета необходимо представить в Банк полный пакет документов:
        ul
            li Перечень документов, необходимых для открытия банковского счета юридическому лицу, созданному в соответствии с законодательством Российской Федерации
            li Перечень документов, необходимых для открытия банковского счета юридическому лицу, созданному в соответствии с законодательством Российской Федерации для совершения операций его обособленным подразделением
            li Перечень документов, необходимых для открытия банковского счета юридическому лицу, созданному в соответствии с законодательством иностранного государства и имеющему местонахождение за пределами территории Российской Федерации
            li Перечень документов, необходимых для открытия банковского счета юридическому лицу, созданному в соответствии с законодательством иностранного государства и имеющему местонахождение за пределами территории Российской Федерации, для совершения операций его обособленным подразделением (филиалом, представительством)
            li Перечень документов, необходимых для открытия банковского счета индивидуальному предпринимателю
            li Перечень документов, необходимых для открытия накопительного счетавновь создаваемому юридическому лицу в «Вэйбанк» АО
        p Банк вправе отказать в заключении договора банковского счета (вклада) в рамках Федерального закона от 07.08.2001 N 115-ФЗ «О противодействии легализации (отмыванию) доходов, полученных преступным путем, и финансированию терр  оризма», о чем Банк проинформирует вас в срок не позднее пяти рабочих дней со дня принятия решения об отказе от заключения договора банковского счета (вклада) с указанием даты и причины принятия данного решения.