section.documents
    div.container

        div.title
            h1.animate Перечень документов, необходимых для открытия банковского счета обособленному подразделению юридического лица, созданного в соответствии с Законодательством Российской Федерации
            span.animate По форме Банка. Сведения, предусмотренные вопросником, могут быть также предоставлены в любой письменной форме, заверенной подписью уполномоченного представителя юридического лица.

        div.table
            div.row
                div.cell: strong Вид документа
                div.cell: strong Примечание
            div.row
                div.cell: strong Для заполнения по форме Банка
                div.cell
                div.cell
                    div.document
                        p.list Заявление на открытие счета
                        a(href="").download: include ../../../images/download.svg
                div.cell: span Заполняется от имени юридического лица, подписывается представителем юридического лица, действующим на основании соответствующей доверенности
            div.row
                div.cell
                    div.document
                        p.list Договор банковского счета
                        a(href="").download: include ../../../images/download.svg
                div.cell: span По форме Банка
            div.row
                div.cell
                    p.list Вопросник Клиента
                    ul(style="margin-left: 25px")
                        li Анкета представителя ФЛ
                        li Анкета представителя ЮЛ
                        li Анкета представителя ИП
                        li Анкета выгодоприобретателя ФЛ
                        li Анкета выгодоприобретателя ЮЛ
                        li Анкета выгодоприобретателя ИП
                        li Анкета бенефициарного владельца
                div.cell: span По форме Банка. Сведения, предусмотренные вопросником, могут быть также предоставлены в любой письменной форме, заверенной подписью уполномоченного представителя юридического лица.
            div.row
                div.cell: strong Обязательные к представлению
                div.cell
                div.cell
                    div.document
                        p.list Документ, подтверждающий полномочия лица, обратившегося в Банк, на открытие счета, если это лицо не уполномочено учредительным документом
                        a(href="").download: include ../../../images/download.svg
                div.cell
            div.row
                div.cell: p.list Документ, удостоверяющий личность лица, уполномоченного на открытие счета
                div.cell: span Иностранные граждане или лица без гражданства дополнительно предоставляют документ, подтверждающий право на пребывание (проживание) на территории РФ, а также миграционную карту.
            div.row
                div.cell: p.list Учредительные документы (с изменениями и дополнениями)
                div.cell: span Юридическое лицо действует на основании устава, либо учредительного договора и устава, либо только учредительного договора. В случаях, предусмотренных законом, юридическое лицо, не являющееся коммерческой организацией, может действовать на основании общего положения об организациях данного вида.
            div.row
                div.cell: p.list Лицензии (разрешения) на право осуществления деятельности, подлежащей лицензированию, в случае если данные лицензии (разрешения) имеют непосредственное отношение к правоспособности клиента заключать договор банковского счета
                div.cell
            div.row
                div.cell: p.list Документ, подтверждающий полномочия единоличного исполнительного органа
                div.cell: span Решение органа управления юридического лица об избрании (назначении) единоличного исполнительного органа.
            div.row
                div.cell: p.list Положение об обособленном подразделении юридического лица
                div.cell
            div.row
                div.cell: p.list Документ, подтверждающий полномочия руководителя обособленного подразделения
                div.cell: span Доверенность от имени юридического лица. Приказ о назначении руководителя обособленного подразделения.
            div.row
                div.cell: p.list Документ, удостоверяющий личность руководителя обособленного подразделения юридического лица
                div.cell: span Иностранные граждане или лица без гражданства дополнительно предоставляют документ, подтверждающий право на пребывание (проживание) на территории РФ, а также миграционную карту.
            div.row
                div.cell
                    div.document
                        p.list Карточка с образцами подписей и оттиска печати #[br] Порядок заполнения карточки
                        a(href="").download: include ../../../images/download.svg
                div.cell: span Карточка оформляется по форме, установленной Банком.Образцы подписей заявленных в карточке лиц должны быть удостоверены нотариусом по законодательству Российской Федерации либо работником банка.
            div.row
                div.cell: p.list Документы, подтверждающие полномочия лиц, указанных в карточке с образцами подписей и оттиска печати, на распоряжение денежными средствами, находящимися на банковском счете, а в случае когда договором предусмотрено удостоверение прав распоряжения денежными средствами, находящимися на счете, с использованием аналога собственноручной подписи – документы, подтверждающие полномочия лиц, наделенных правом использовать аналог собственноручной подписи
                div.cell
                    ul 
                        li Приказ о приеме на работу (назначении на должность).
                        li Приказ о предоставлении права распоряжения денежными средствами и наделении правом подписи документов, содержащих такие распоряжения (в т.ч. с использованием аналога собственноручной подписи – в случае если планируется использование аналога собственноручной подписи). и/или доверенность с полномочием распоряжаться денежными средствами на счете и наделении правом подписи документов, содержащих такие распоряжения (в т.ч. с использованием аналога собственноручной подписи – в случае если планируется использование аналога собственноручной подписи).
            div.row
                div.cell: p.list Документы, удостоверяющие личность лиц, указанных в карточке с образцами подписей и оттиска печати, а в случае когда договором предусмотрено удостоверение прав распоряжения денежными средствами, находящимися на счете, с использованием аналога собственноручной подписи – лиц, наделенных правом использовать аналог собственноручной подписи при распоряжении счетом
                div.cell: span Иностранные граждане или лица без гражданства дополнительно предоставляют документ, подтверждающий право на пребывание (проживание) на территории РФ, а также миграционную карту.
            div.row
                div.cell: p.list Сведения (документы) о финансовом положении
                div.cell
                    p Предоставляется следующее (на выбор):
                    ul
                        li копии годовой бухгалтерской отчетности (бухгалтерский баланс, отчет о финансовом результате), и (или) копии годовой (либо квартальной) налоговой декларации с отметками налогового органа об их принятии или без такой отметки с приложением либо копии квитанции об отправке заказного письма с описью вложения (при направлении по почте), либо копии подтверждения отправки на бумажных носителях (при передаче в электронном виде);
                        li копия аудиторского заключения на годовой отчет за прошедший год, в котором подтверждаются достоверность финансовой (бухгалтерской) отчетности и соответствие порядка ведения бухгалтерского учета законодательству Российской Федерации;
                        li справка об исполнении налогоплательщиком (плательщиком сборов, налоговым агентом) обязанности по уплате налогов, сборов, пеней, штрафов, выданная налоговым органом;
                        li сведения об отсутствии в отношении юридического лица производства по делу о несостоятельности (банкротстве), вступивших в силу решений судебных органов о признании его несостоятельным (банкротом), проведения процедур ликвидации по состоянию на дату представления документов в кредитную организацию;
                        li сведения об отсутствии фактов неисполнения юридическим лицом своих денежных обязательств по причине отсутствия денежных средств на банковских счетах;
                        li данные о рейтинге юридического лица, размещенные в сети "Интернет" на сайтах российских национальных рейтинговых агентств и международных рейтинговых агентств ("Standard & Poor's", "Fitch-Ratings", "Moody's Investors Service" и другие).
                    p Если период деятельности клиента – юридического лица не превышает трех месяцев со дня его регистрации, используются следующие документы:
                    ul
                        li документы, подтверждающие ежемесячный финансовый результат (например, оборотно-сальдовая ведомость по счетам 90, 91);
                        li письмо-обязательство о незамедлительном предоставлении указанных в настоящем пункте документов по мере их появления.
            div.row
                div.cell: p.list Сведения о деловой репутации
                div.cell
                    p Предоставляется следующее (на выбор):
                    ul
                        li отзывы (в произвольной письменной форме) о юридическом лице других клиентов Банка, имеющих с ним деловые отношения;
                        li отзывы (в произвольной письменной форме) от других кредитных организаций, в которых юридическое лицо ранее находилось на обслуживании, с информацией этих кредитных организаций об оценке деловой репутации данного юридического лица;
                        li отзывы (в произвольной письменной форме) о юридическом лице других юридических лиц, имеющих с ним деловые отношения, с момента регистрации которых прошло более одного года.
                    p Если период деятельности клиента – юридического лица менее одного месяца со дня его регистрации и юридическое лицо ранее не обслуживалось в других кредитных организациях, а также не имеет отношений с другими клиентами.
            div.row
                div.cell: strong Прочие
                div.cell
                div.cell: p.list Сведения о договоре о привлечении банковского платежного агента (банковского платежного субагента), о договоре об осуществлении деятельности по приему платежей физических лиц.
                div.cell: span Предоставляются банковскими платежными агентами, банковскими платежными субагентами, платежным агентом, поставщиками при открытии специального банковского счета.Сведения предоставляются в виде письма в свободной форме.
            div.row
                div.cell: p.list Документы, подтверждающие статус иностранного налогоплательщика
                div.cell: span Предоставляется клиентами, соответствующими критериям отнесения клиентов к категории клиента - иностранного налогоплательщика, размещенным на сайте Банка.
            div.row
                div.cell: p.list Согласие на передачу информации в иностранный налоговый орган
                div.cell: span Предоставляется клиентами, соответствующими критериям отнесения клиентов к категории клиента - иностранного налогоплательщика, размещенным на сайте Банка.

        div.text
            p Документы предоставляются в Банк в виде оригиналов или копий: 
            ul
                li документы, выданные на территории Российской Федерации, могут быть заверены:
                    ul 
                        li нотариально
                        li органом, осуществившим регистрацию
                        li руководителем организации/представителем организации (с обязательным представлением оригиналов документов на обозрение)
                        li Банком;
                li иностранные документы – легализованные в установленном порядке в соответствии с международными договорами Российской Федерации. 
            p Все документы, составленные полностью или в какой-либо их части на иностранном языке, предоставляются в Банк с надлежащим образом заверенным переводом на русский язык. Нотариальное заверение перевода за пределами Российской Федерации требует легализации подписи нотариуса. 
            p Требование о представлении в банк документов с надлежащим образом заверенным переводом на русский язык не распространяется на документы, выданные компетентными органами иностранных государств, удостоверяющие личности физических лиц, при условии наличия у физического лица документа, подтверждающего право законного пребывания (проживания) на территории Российской Федерации. 
            p Копии документов, состоящие более чем из одного листа, должны быть прошиты, а листы пронумерованы. На месте сшива должна быть проставлена отметка о заверение копии с указанием количества листов в сшиве, скрепленная печатью обособленного подразделения организации.