section.reporting
    div.container
        h2.animate Годовая финансовая отчётность

        div.group
            h3.animate Годовые отчеты по МСФО.

            strong 2017 год (опубликовано 24.05.2018 г.)
            div.documents
                div.document
                    p Годовой отчет 2017
                    a(href="").download: include ../../../images/download.svg
                div.document
                    p Аудиторское заключение 2017
                    a(href="").download: include ../../../images/download.svg

        div.group
            h3.animate Промежуточная финансовая отчетность

            strong 2017 год
            div.documents
                div.document
                    p Первое полугодие 2017г. (размещено 29.08.2017)
                    a(href="").download: include ../../../images/download.svg

            strong 2018 год
            div.documents
                div.document
                    p Первое полугодие 2017г. (размещено 29.08.2017)
                    a(href="").download: include ../../../images/download.svg

        div.group
            h3.animate Годовой отчёт 2020

            strong 2020 (дата размещения на сайте 26.05.2021)
            div.documents
                div.document
                    p Бухгалтерский баланс (публикуемая форма) (код формы по ОКУД 0409806)
                    a(href="").download: include ../../../images/download.svg
                div.document
                    p Отчет о финансовых результатах (публикуемая форма) (код формы по ОКУД 0409807)
                    a(href="").download: include ../../../images/download.svg
                div.document
                    p Отчет об уровне достаточности капитала для покрытия рисков (публикуемая форма) (код формы по ОКУД 0409808)
                    a(href="").download: include ../../../images/download.svg
                div.document
                    p Отчет об изменениях в капитале кредитной организации (публикуемая форма) (код формы по ОКУД 0409810)
                    a(href="").download: include ../../../images/download.svg
                div.document
                    p Сведения об обязательных нормативах, показателе финансового рычага и нормативе краткосрочной ликвидности (публикуемая форма) (код формы по ОКУД 0409813)
                    a(href="").download: include ../../../images/download.svg
                div.document
                    p Отчет о движении денежных средств (публикуемая форма) (код формы по ОКУД 0409814)
                    a(href="").download: include ../../../images/download.svg
                div.document
                    p Аудиторское заключение за 2020 год
                    a(href="").download: include ../../../images/download.svg
                div.document
                    p Пояснительная информация к годовой бухгалтерской(финансовой) отчетности
                    a(href="").download: include ../../../images/download.svg
                div.document
                    p Отчетность КБ «Рента-Банк» АО за 2018 год утверждена Решением единственного акционера КБ «Рента-Банк» АО, принятым 25 июня 2019 года