dialog(data-modal-name="schedule")
    div.container
        div(data-modal-close='').cross
            include ../../../images/modal_cross.svg

        div.content
            h3 #[span.orange Режим работы] по московскому времени

            div.table
                div.row
                    strong Рассчетно-кассовое обслуживание
                    ul 
                        li 
                            span в рублях
                            strong 9:30 - 17:00
                        li 
                            span в иностранной валюте
                            strong 9:30 - 15:00
                        li 
                            span пятница и предпраздничные дни
                            strong 9:30 - 16:00
                div.row
                    strong Работа кассы Банка
                    ul 
                        li 
                            span понедельник - четверг
                            strong 9:30 - 17:00
                        li 
                            span пятница и предпраздничные дни
                            strong 9:30 - 16:00
                div.row
                    strong Работа депозитория
                    ul 
                        li 
                            span понедельник - четверг
                            strong 9:30 - 17:00
                        li 
                            span пятница и предпраздничные дни
                            strong 9:30 - 16:00