section.page
    div.container
        h1.animate CRS (Common Reporting Standards) — стандарт по автоматическому обмену налоговой информацией о финансовых счетах

        p Это международный аналог FATCA, разработанный Организацией Экономического Сотрудничества и Развития (сокр. ОЭСР, англ. Organisation for Economic Co-operation and Development, OECD) в целях предотвращения глобального уклонения от уплаты налогов с использованием офшорных юрисдикций и обеспечения прозрачности налоговой информации. В 2016 году Россия подтвердила свое участие и присоединилась к CRS.

        p На территории Российской Федерации CRS регулируется разделом VII.1. части первой Налогового Кодекса Российской Федерации, введенным в действие Федеральным законом от 27.11.2017 № 340-ФЗ "О внесении изменений в часть первую Налогового кодекса Российской Федерации в связи с реализацией международного автоматического обмена информацией и документацией по международным группам компаний" и Постановлением Правительства РФ от 16.06.2018 N 693 "О реализации международного автоматического обмена финансовой информацией с компетентными органами иностранных государств (территорий)".

        p В соответствии с указанными документами в целях международного обмена информацией с иностранными налоговыми органами:
        ul
            li Банк обязан устанавливать налоговое резидентство клиентов, выгодоприобретателей и лиц, прямо или косвенно их контролирующих, и направлять сведения об иностранных налогоплательщиках в ФНС РФ;
            li Клиенты обязаны предоставлять запрашиваемую Банком информацию о налоговом резидентстве указанных лиц.

        p Представление Банком федеральному органу исполнительной власти, уполномоченному по контролю и надзору в области налогов и сборов, информации в соответствии с Главой 20.1 Налогового кодекса РФ не является нарушением банковской тайны и не требует получения согласия клиентов, выгодоприобретателей и лиц, прямо или косвенно их контролирующих.

        p В случае непредставления лицом, заключающим с Банком договор, предусматривающий оказание финансовых услуг, запрашиваемой информации Банк вправе отказать в заключении такого договора с этим лицом.

        p В случае непредставления клиентом информации, запрашиваемой в соответствии с Главой 20.1 Налогового кодекса РФ, Банк вправе отказать в совершении операций, осуществляемых в пользу или по поручению клиента по договору, предусматривающему оказание финансовых услуг, и (или) в случаях, предусмотренных указанной главой, расторгнуть в одностороннем порядке договор, предусматривающий оказание финансовых услуг, уведомив об этом клиента не позднее одного рабочего дня, следующего за днем принятия решения.

        p Если в результате проверки достоверности и полноты предоставленной Клиентом информации, Банк выявит её недостоверность или неполноту, либо придет к выводу о противоречии представленной Клиентом информации сведениям, имеющимся в распоряжении Банка, в том числе полученным из иных общедоступных источников информации, Банк вправе отказать в заключении договора, предусматривающего оказание финансовых услуг, либо в одностороннем порядке расторгнуть заключенный договор, предусматривающий оказание финансовых услуг.

        h2 Формы самосертификации для анкетирования клиентов в рамках требований по FATCA/CRS:
        p: a(href="") ВОПРОСНИК ПО САМОСЕРТИФИКАЦИИ для идентификации клиента - юридического лица (не являющегося финансовым институтом) / структуры без образования юридического лица (1)
        p: a(href="") ВОПРОСНИК ПО САМОСЕРТИФИКАЦИИ для идентификации клиента - юридического лица, являющегося финансовым институтом (2)
        
        h2 Формы самосертификации для анкетирования клиентов в рамках требований по FATCA/CRS:
        p: a(href="") Обзор внутренних правил, регулирующих выдачу, структуру, использование и действительность идентификационных номеров налогоплательщика или их функциональных эквивалентов в перечисленных юрисдикциях.
        p: a(href="") Правила, регулирующие налоговое резидентство, применимые в юрисдикциях, которые обязуются автоматически обмениваться информацией в соответствии с CRS.
        p: a(href="") Сведения об используемых налоговых идентификаторах некоторых стран - членов СНГ.
        p: a(href="") Онлайн проверка структуры номера TIN европейских стран.
        p: a(href="") Разъяснения по применению автоматического обмена финансовой информацией для налоговых целей (CRS и FATCA) в переводах на иностранные языки.

        h2 Заголовок H2

        div.documents
            div.document
                p Бухгалтерский баланс (публикуемая форма) (код формы по ОКУД 0409806)
                a(href="").download: include ../../../images/download.svg
            div.document
                p Отчет о финансовых результатах (публикуемая форма) (код формы по ОКУД 0409807)
                a(href="").download: include ../../../images/download.svg
            div.document
                p Отчет об уровне достаточности капитала для покрытия рисков (публикуемая форма) (код формы по ОКУД 0409808)
                a(href="").download: include ../../../images/download.svg
            div.document
                p Отчет об изменениях в капитале кредитной организации (публикуемая форма) (код формы по ОКУД 0409810)
                a(href="").download: include ../../../images/download.svg
            div.document
                p Сведения об обязательных нормативах, показателе финансового рычага и нормативе краткосрочной ликвидности (публикуемая форма) (код формы по ОКУД 0409813)
                a(href="").download: include ../../../images/download.svg
            div.document
                p Отчет о движении денежных средств (публикуемая форма) (код формы по ОКУД 0409814)
                a(href="").download: include ../../../images/download.svg
            div.document
                p Аудиторское заключение за 2020 год
                a(href="").download: include ../../../images/download.svg
            div.document
                p Пояснительная информация к годовой бухгалтерской(финансовой) отчетности
                a(href="").download: include ../../../images/download.svg


        table
            thead
                th 
                    td Title 1
                    td Title 2
            tbody
                tr 
                    td Cell 1
                    td Cell 2
                    td Cell 3
                tr 
                    td Cell 1
                    td Cell 2
                    td Cell 3
                tr 
                    td Cell 1
                    td Cell 2
                    td Cell 3
                tr 
                    td Cell 1
                    td Cell 2
                    td Cell 3

        ol 
            li Аудиторское заключение за 2020 год
            li Отчет о движении денежных средств (публикуемая форма) (код формы по ОКУД 0409814)
            li Отчет об изменениях в капитале кредитной организации 
            li Отчет об уровне достаточности капитала для покрытия рисков
            li Бухгалтерский баланс (публикуемая форма) 