footer
    div.container

        a.logotype(href="index.html")
            img(src="images/logotype_white.svg", alt="")

        div.requisite
            h4 Реквизиты
            p Коммерческий банк «Вэйбанк» (акционерное общество), сокращённое название: «Вэйбанк АО» Учреждён собранием учредителей 21 сентября 1993 г. Зарегистрирован в Центральном банке Российской Федерации 22 сентября 1994 г.
            p Базовая лицензия банка на осуществление банковский операций со средствами в рублях и иностранной валюте и на осуществление банковский операций с драгоценнными металлами № 3095 от 01 ноября 2018 г.Банк аккредитован Фондом содействия кредитованию малого бизнеса Москвы (подписано соответствующее соглашение о сотрудничестве).
            p Зарегестрирован 21.10.2002 Межрайонной инспекцией Министерства РФ по налогам и сборам № 44 по г. Москве
            p Уставный фонд банка на момент регистрации составлял 120 миллионов неденоминированных рублей. В настоящее время уставный капитал составляет 180 миллионов рублей.
            p.
                ОГРН: 1027744003231
                #[br] ИНН: 7744003007
                #[br] КПП: 773001001
                #[br] ОКПО 29307469
                #[br] ОКАТО 45268554000
                #[br] ОКВЭД 64.19 64.92 64.99 66.19
                #[br] ОКОГУ 150010
                #[br] ОКФС 34
                #[br] ОКТМО 45318000000
                #[br] ОКОПФ 12267

        menu.documents
            h4 Документы
            a(href="index.html") Устав
            a(href="index.html") Реквизиты
            a(href="index.html") Территориальное Учреждение Банка России
            a(href="index.html") Сведения об Аудиторской Организации
            a(href="index.html") Лицензии 
            a(href="index.html") Раскрытие Информации  
            a(href="index.html") Информационная Безопасность
            a(href="index.html") Информация по 115-ФЗ
            a(href="index.html") Информация по Fatca/CRS

        menu.tarrifs
            h4 Тарифы
            a(href="index.html") Тарифы для Бизнеса
            a(href="index.html") Тарифы для частных лиц

        menu.forms
            h4 Формы
            a(href="index.html") Формы документов
            a(href="index.html") Формы расчетных документов

        div.contacts
            h4 КОНТАКТЫ

            div
                span Адрес
                strong 121059, г. Москва, Бережковская наб., д. 20Г

            a(href="mailto:info@waybank.ru") info@waybank.ru

            div
                span Общий телефон
                a(href="tel:74992405643") +7 499 240 5643
            div
                span По вопросам работы с системой "Интернет-Банк"
                a(href="tel:74992404656") +7 499 240 4656
            div
                span Актуальная информация по работе отделения
                a(data-modal-target="schedule") Режим работы

        div.policies
            a(href="") Политика конфиденциальности
            a(href="") Пользовательское соглашение

        span.copyright © 2023 Коммерческий банк «Вэйбанк АО». Все права защищены.

